.logo-principal {
  height: 40px;
  width: auto;
}

.header-bg-color{
    background-color: #061f57;
    color: white;
}

.navbar-bg-color {
    background-color: #061f57;
    color: white;
}

.img-fondo-principal{
    background-image: url(images/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}